@charset "ISO-8859-1";

@media only screen and (max-width: 540px) {
	#drc2 {
		font-size: 90%;
		left: -30px
	}
	#drc1 {
		font-size: 90%;
		left:-18px
	}
	
	.form-popup {
		margin-right: -35%;
       	 z-index: 0;
       	 right:0;
	}

	.submitButton{
	left: 8%;
} 
}

.inline {
	display: inline;
}

.description {
	margin-left: 14px;
	color: #929292;
}

h3 {
	padding: 10px 16px 16px 16px;
}

.list-element {
	padding: 10px 16px;
}

.list-element-centered {
	padding: 10px 10px;
}

.btn-square {
	margin: 3px 4px 12px 4px;
	display: inline;
}

.btn-icon {
    height: 24px;
    width: 24px;
}

.suggestion {
	background-color: #feffff;
	border: 1.5px solid #ffe9ca;
	border-radius: 5px;
	padding: 16px 16px 16px 22px;
	margin: 16px 36px 22px 22px;
}

.suggestion-body {
}

.suggestion-header {
	color: #929292;
}

.no-left-margin {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 32px;
}