@charset "ISO-8859-1";

@media only screen and (max-width: 540px) {
	#drc2 {
		font-size: 90%;
		left: -30px
	}
	#drc1 {
		font-size: 90%;
		left:-18px
	}
	
	.form-popup {
		margin-right: -35%;
       	 z-index: 0;
       	 right:0;
	}

	.submitButton{
	left: 8%;
} 
}
.form-container .btn {
	position: relative;
	float: center;
	right: -25%;
  	background-color: #248ece;
  	color: white;
  	padding: 10px 16px;
  	cursor: pointer;
  	width: 50%;
 	margin-bottom:10px;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.text-left{
	font-weight: bold;
}

.btn{
	width:2,5%; 
	flaot:left;
}

.submitButton{
	margin-right: 60px; 
	width: 200px; 
	position: relative; 
	float:right;
} 

 .textarea { /* Stili per il campo di testo e per la textarea */
background: #1C1C1C; /* Colore di sfondo */
border: 1px solid #323232; /* Bordo */
 
}



