@charset "ISO-8859-1";

.orange-frame {
	border: 1.5px solid #ffb84e;
	border-radius: 15px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 16px 16px 22px 22px;
	background-color: #fcfbfc;
}

.description {
	margin-left: 14px;
}

.field-title {
/* 	color: #797979; */
}

h3 {
	padding: 10px 16px 16px 16px;
}

.list-element {
	padding: 10px 16px;
}

.list-element-centered {
	padding: 10px 0px;
}

.btn-square {
	margin: 3px 4px 12px 4px;
	display: inline;
}

.btn-icon {
    height: 24px;
    width: 24px;
}