@charset "ISO-8859-1";

@media only screen and (max-width: 540px) {
	.panel h2{
	font-size: auto;
	}
	
	#drc2 {

		font-size: 90%;
		left: -30px
	}
	#drc1 {
		font-size: 90%;
		left:-18px
	}
	
	.form-popup {
		margin-right: -35%;
       	 z-index: 0;
       	 right:0;
	}

	.submitButton{
	position: fixed;
	float: right;
	} 
	
	.news-block-seven{
		width: auto;
		position: relative;
		float: left;
	}
	
	
	}
}

{box-sizing: border-box;}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 35%;  
  top:30%;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 550px;
  padding: 10px;
  background-color: white;
  border: solid grey;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	position: relative;
	float: center;
	right: -25%;
  	background-color: #248ece;
  	color: white;
  	padding: 10px 16px;
  	cursor: pointer;
  	width: 50%;
 	margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.panel{
	float:left; 
	text-align: left;
}

.studentName{
	width : 1000px; 
	position: relative; 
	float:left;
}
.text-left{
	margin-top:15px;
	font-weight: bold;
}
.downloadButton{
	 width : 1400px; 
	 position: relative; 
	 float:left;
	 margin-left: 8px;
	 margin-bottom: 15px;
}
.divDownload1{
	width:255px;   
	flaot:left;
}

.divDownload2{
	width:365px;   
	flaot:left; 
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn{
	width:2,5%; 
	flaot:left;
}
.drc{
	position:relative; 
	float:right;
}

.submitButton{
	margin-right: 60px; 
	width: 170px; 
	position: relative; 
	float:right;
	display: inline-block;
} 

.submitButton #acceptForm{
	width: 85px;
	float: right;
}


.submitButton #accept{

	width: 80px;
	border: #0080ff;
	float: right; 
	

}
.submitButton #reject{
	background-color: red;
	width: 80px; 
	flaot: left;
	border: red;
}

/* div contenitore*/
.ExamsDiv {
	width:800px;
	overflow-x: scroll;
	margin-left: 7px;
}

.ExamsDiv .table {
	width: 800px;
}

.divsx{
	position: relative;
	width:232px;
	margin-right: 10px;
	float:left;
}
.divcentro {
	position: relative;
	width:300px;
	right: 10px;
	margin-left: 10px;
}
.divdx{
	position: relative;
	width:232px;
	margin-left: 10px;
	float:right;
}
    	
}

 


