@charset "ISO-8859-1";

{
box-sizing
:
 
border-box
;
}


.downloadButton{
	margin-top: -50px;
	display: inline; 
}
.buttonForm{
	width:340px;
	position:relative;
	display:inline;
}

#drc1{
	position:relative;
	display:inline;
	margin: 12px;
}
#drc2{
	position:relative;
	display:inline;
	margin: 12px;
}

.indentedDiv {
	margin: 16px 0px 0px 32px;
}

.list-element {
	padding: 10px 32px;
}

.no-left-margin {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 32px;
}

#examsListHeader {
	margin-left: 0px;
	margin-bottom: 8px;
}

.list-element-centered {
	padding: 10px 20px;
}

.description {
	margin-left: 14px;
	color: #929292;
}

.studentName {
	padding-bottom: 110px;
}

h3 {
	padding: 10px 16px 16px 16px;
}

.orange-frame {
	border: 1.5px solid #ffb84e;
	border-radius: 15px;
	margin-top: 16px;
	margin-bottom: 86px;
	padding: 16px 16px 22px 22px;
	background-color: #fcfbfc;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 35%;
	top: 30%;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	max-width: 550px;
	padding: 10px;
	background-color: white;
	border: solid grey;
}

/* Full-width input fields */
.form-container input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus
	{
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container {
	position: relative;
	float: center;
	right: -25%;
	background-color: #248ece;
	color: white;
	padding: 10px 16px;
	cursor: pointer;
	width: 50%;
	margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container, .open-button:hover {
	opacity: 1;
}


.downloadButton {
	width: 1400px;
	position: relative;
	float: left;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 15px;
}

.download-label {
	margin-left: 16px;
}

.submitButton {
	right: 0px;
	width: 470px;
	float: right;
	display: inline-block;
}

.submitButton #accept {
	float: right;
	position: relative;
	width: 180px;
}

.submitButton #reject {
	float: left;
	position: relative;
	width: 180px;
}

.submitButton #acceptForm {
	width: 220px;
	position: relative;
	float: left;
}

.divsx {
	position: relative;
	width: 232px;
	margin-right: 10px;
	float: left;
}

.divcentro {
	position: relative;
	width: 300px;
	right: 10px;
	margin-left: 10px;
}

.divdx {
	position: relative;
	width: 232px;
	margin-left: 10px;
	float: right;
}


button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}

button:hover .circle {
	width: 100%;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button:hover .button-text {
	color: #fff;
}

button.finish {
	width: 18rem;
	height: auto;
}

button.finish .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 5rem;
	height: 5rem;
	background: #1b6cd0;
	border-radius: 3.625rem;
}

button.finish .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.finish .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 1.125rem;
	width: 1.625rem;
	height: 0rem;
	background: none;
}

button.finish .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.8rem;
	right: -0.9rem;
	width: 2rem;
	height: 1rem;
	border-top: 0.3rem solid #fff;
	border-right: 0.3rem solid #fff;
	transform: rotate(135deg);
}

button.finish .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

.finish:hover .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

.finish:hover .circle {
	width: 100%;
}

.finish:hover .button-text {
	color: #fff;
}

button.reject {
	width: 18rem;
	height: auto;
}

button.reject .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 5rem;
	height: 5rem;
	background: #ff494d;
	border-radius: 3.625rem;
}

button.reject .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.reject .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 1.125rem;
	width: 1.625rem;
	height: 0rem;
	background: none;
}

button.reject .circle .icon.arrow::before {
	position: absolute;
	content: '';
	top: -0.9rem;
  right: -0.2rem;
	width: 1rem;
	height: 1rem;
	border-top: 0.3rem solid #fff;
	border-right: 0.3rem solid #fff;
	transform: rotate(135deg);
}

button.reject .circle .icon.arrow::after {
  position: absolute;
	content: '';
	top: 0.1rem;
  right: -0.2rem;
	width: 1rem;
	height: 1rem;
	border-top: 0.3rem solid #fff;
	border-right: 0.3rem solid #fff;
	transform: rotate(-45deg);
}

button.reject .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

.reject:hover .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

.reject:hover .circle {
	width: 100%;
}

.reject:hover .button-text {
	color: #fff;
}

.btn-square {
	margin: 3px 4px 12px 4px;
	display: inline;
}

.btn-icon {
    height: 24px;
    width: 24px;
}


@media only screen and (max-width: 540px) {
	
	.list-element {
		font-size: 90%;
	}
	
	.list-element-centered {
		font-size: 90%;
	}
	
	#drc2 {
		font-size: 90%;
	}
	#drc1 {
		font-size: 90%;
	}
	.text-center{
		font-size: 92%;
	}
	
	.text-left{
		font-size: 100%;
	}
	.form-popup {
		margin-right: -35%;
		z-index: 0;
		right: 0;
	}
	
	.news-block-seven {
		width: auto;
		position: relative;
		float: left;
	}

	.submitButton.col-12 {
		right: -12px;
		width: 80%;
		position:relative;
		float:left;
	}

	#acceptForm{
		margin-top:5px;
		left: -39px;
	}

}
